@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #131313;
    color: grey;
}
header{
display: flex;
align-items: center;
justify-content: center;
width: auto;
height: 100px;
gap: 200px;
}
.headText{
    display: flex;
    gap: 50px;
    color: white;
}

.Jane{
    width: auto;
    height: 902px;
    display: flex;
    gap: 20px;
}
.square{
    display: flex;
    gap: 20px;
}
.Awards{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.Skills{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.Recognitions{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.Socials{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.aplgz{
    display: flex;
    gap: 20px;
}